<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mx-auto font-serif lowercase">
    <div class="antialiased">
      <%= render 'layouts/header'%>
        <!-- alerts start -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <!-- alerts end -->

      <main class="p-4 h-auto">
        <section class="text-gray-600 body-font overflow-hidden">
          <div class="container px-5 py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
                  <%= yield %>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
